*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FDECD0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:link,
a:visited,
a:active{
    text-decoration: none;
    color: #DCA378;
}

a:hover{
    color: #d48b52;
}


header,
nav,
#head{
    background-color: #fceed6;
    color: #DCA378;
    display: flex;
}

.top-head{
    position: fixed;
    width: 100%;
    z-index: 10;
}

header{
    padding: 13px;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
}

nav{
    margin-top: 64px;
    padding: 13px;
    padding-top: 0;
    justify-content: space-evenly;
    font-weight: bold;
}

#filler{
    width: 100%;
    height: 95.67px;
}

