*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FDECD0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:link,
a:visited,
a:active{
    text-decoration: none;
    color: #DCA378;
}

a:hover{
    color: #d48b52;
}


header,
nav,
#head{
    background-color: #fceed6;
    color: #DCA378;
    display: flex;
    white-space: nowrap;
}

#head a {
    
}

.top-head{
    position: fixed;
    width: 100%;
    z-index: 10;
}

header{
    padding: 13px;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
}

nav{
    margin-top: 64px;
    padding: 13px;
    padding-top: 0;
    justify-content: space-evenly;
    font-weight: bold;
}

#filler{
    width: 100%;
    height: 95.67px;
}



/* Main Content */

#chicken-adobo.first-header{
    margin-top: 25px;
}

#chicken-adobo{
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;
    margin: 50px;
}


#adobo-img{
    width: 525px;
    height: auto;
}

#chicken-adobo a img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

#adobo-desc {
    width: 600px;
    height: auto;
    text-align: center;

}

#adobo-desc a{
    font-size: larger;
    font-weight: bolder;
}

#adobo-desc p {
    margin-top: 25px;
    line-height: 30px;
    word-spacing: 8px;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    color: #DCA378;
}

#adobo-credit{
    margin-top: 35px;
}

