*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #FDECD0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:link,
a:visited,
a:active{
    text-decoration: none;
    color: #DCA378;
}

a:hover{
    color: #d48b52;
}

/* Header */

header,
nav,
#head{
    background-color: #fceed6;
    color: #DCA378;
    display: flex;
    white-space: nowrap;
}

#head a {
    
}

.top-head{
    position: fixed;
    width: 100%;
    z-index: 10;
}

header{
    padding: 13px;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
}

/* Nav and Others */

nav{
    margin-top: 64px;
    padding: 13px;
    padding-top: 0;
    justify-content: space-evenly;
    font-weight: bold;
}

#filler{
    width: 100%;
    height: 95.67px;
}

.separator {
    overflow: hidden;
    color: #d48b52;
    margin: 0 50px;
}

/* Footer */

footer{
    padding: 25px;
    background-color: #fceed6;
    color: #DCA378;
    display: flex;
    justify-content: center;
}


/* Main Content */

/* Based on the first item (Chicken Adobo) */


.item{
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;
    margin: 25px 50px 25px 50px;
}


.images{
    width: 525px;
    height: auto;
}

.item a img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.desc {
    width: 600px;
    height: auto;
    text-align: center;

}

.desc a{
    font-size: larger;
    font-weight: bolder;
}

.desc p {
    margin-top: 25px;
    line-height: 30px;
    word-spacing: 8px;
    font-weight: bold;
    font-style: italic;
    font-size: medium;
    color: #DCA378;
}

.credit{
    margin-top: 35px;
}



/* Adjustments for Bulalo */

#bulalo .desc .credit{
    margin: 60px;
}

/* Adjustments for Tortang Talong */

#tortang-talong .desc .credit{
    margin: 70px;
}
